<select name="country" id="country" required aria-required="true">
    <option value="" disabled selected>Select your country</option>
    {{#each countries}}
        <option value="{{country_id}}">{{country}}</option>   
    {{/each}}
</select>