<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"></a>
        <ul id="nav-mobile">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/profile/password">Password</a></li>
            <li><a href="/profile/info">Account</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>