{{> nav }}
<h2>{{user.first_name}} you can change your password </h2>

<div class="col">
    <div class="row">
        <form action="/profile/password" method="post" name="changepassword" >
            <div class="input-field col s12 m4">
                <input type="password" id="opassword" name="opassword" class="validate" pattern="^(?=(.*[A-Z]){2})(?=(.*[a-z]){2})(?=(.*[0-9]){2})(?=(.*[!#$%^&*()+_]){2}).{8,}$" required aria-required="true">
                <label for="opassword">Old Password</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="password" id="npassword" name="npassword" class="validate" pattern="^(?=(.*[A-Z]){2})(?=(.*[a-z]){2})(?=(.*[0-9]){2})(?=(.*[!#$%^&*()+_]){2}).{8,}$" required aria-required="true">
                <label for="npassword">New Password</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="password" id="cpassword" name="cpassword" class="validate" pattern="^(?=(.*[A-Z]){2})(?=(.*[a-z]){2})(?=(.*[0-9]){2})(?=(.*[!#$%^&*()+_]){2}).{8,}$" required aria-required="true">
                <label for="rpassword">Confirm password</label>
            </div>
            <input type="submit" id="password-btn" class="btn waves-effect waves-light" value="Change password">
        </form>        
    </div>
</div>

