<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" pattern="^[A-z]+$" required aria-required="true">
                <label for="first_name">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" pattern="^[A-z]+$" required aria-required="true">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="age" type="text" class="validate" pattern="^[0-9]{3}$">
                <label for="age">Age</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" required aria-required="true">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="rpassword" type="password" class="validate" required aria-required="true">
                <label for="rpassword">Re-type password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" required aria-required="true">
                <label for="email">Email</label>
            </div>
        </div>
        <button type="submit" class="btn">Sign Up</button>

    </form>
</div>
